example/src/main/wsdl/europepmc/schema_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><xs:schema xmlns:tns="http://webservice.cdb.ebi.ac.uk/" xmlns:ns1="https://www.europepmc.org/data" xmlns:swaRef="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.cdb.ebi.ac.uk/">

<xs:import namespace="https://www.europepmc.org/data" schemaLocation="https://www.ebi.ac.uk:443/europepmc/webservices/soap?xsd=1"/>

<xs:import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd"/>
<xs:element name="QueryException" type="tns:QueryException"/>

<xs:element name="getBookXML" type="tns:getBookXML"/>

<xs:element name="getBookXMLResponse" type="tns:getBookXMLResponse"/>

<xs:element name="getCitations" type="tns:getCitations"/>

<xs:element name="getCitationsResponse" type="tns:getCitationsResponse"/>

<xs:element name="getDataLinks" type="tns:getDataLinks"/>

<xs:element name="getDataLinksResponse" type="tns:getDataLinksResponse"/>

<xs:element name="getDatabaseLinks" type="tns:getDatabaseLinks"/>

<xs:element name="getDatabaseLinksResponse" type="tns:getDatabaseLinksResponse"/>

<xs:element name="getFulltextXML" type="tns:getFulltextXML"/>

<xs:element name="getFulltextXMLResponse" type="tns:getFulltextXMLResponse"/>

<xs:element name="getLabsLinks" type="tns:getLabsLinks"/>

<xs:element name="getLabsLinksResponse" type="tns:getLabsLinksResponse"/>

<xs:element name="getReferences" type="tns:getReferences"/>

<xs:element name="getReferencesResponse" type="tns:getReferencesResponse"/>

<xs:element name="getSupplementaryFiles" type="tns:getSupplementaryFiles"/>

<xs:element name="getSupplementaryFilesResponse" type="tns:getSupplementaryFilesResponse"/>

<xs:element name="getTextMinedTerms" type="tns:getTextMinedTerms"/>

<xs:element name="getTextMinedTermsResponse" type="tns:getTextMinedTermsResponse"/>

<xs:element name="listSearchFields" type="tns:listSearchFields"/>

<xs:element name="listSearchFieldsResponse" type="tns:listSearchFieldsResponse"/>

<xs:element name="profilePublications" type="tns:profilePublications"/>

<xs:element name="profilePublicationsResponse" type="tns:profilePublicationsResponse"/>

<xs:element name="searchPublications" type="tns:searchPublications"/>

<xs:element name="searchPublicationsResponse" type="tns:searchPublicationsResponse"/>

<xs:complexType name="getSupplementaryFiles">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="inlineImages" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSupplementaryFilesResponse">
<xs:sequence>
<xs:element name="return" type="tns:result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="result">
<xs:sequence>
<xs:element name="mongoId" type="xs:anyType" minOccurs="0"/>
<xs:element name="request" type="tns:request" minOccurs="0"/>
<xs:element name="citationId" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="pmid" type="xs:string" minOccurs="0"/>
<xs:element name="pmcid" type="xs:string" minOccurs="0"/>
<xs:element name="doi" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="authorString" type="xs:string" minOccurs="0"/>
<xs:element name="authorList" type="tns:authorsList" minOccurs="0"/>
<xs:element name="investigatorList" type="tns:investigatorList" minOccurs="0"/>
<xs:element name="authorIdList" type="tns:authorIdsList" minOccurs="0"/>
<xs:element name="journalInfo" type="tns:journalInfo" minOccurs="0"/>
<xs:element name="journalTitle" type="xs:string" minOccurs="0"/>
<xs:element name="issue" type="xs:string" minOccurs="0"/>
<xs:element name="journalVolume" type="xs:string" minOccurs="0"/>
<xs:element name="pubYear" type="xs:string" minOccurs="0"/>
<xs:element name="journalIssn" type="xs:string" minOccurs="0"/>
<xs:element name="pageInfo" type="xs:string" minOccurs="0"/>
<xs:element name="abstractText" type="xs:string" minOccurs="0"/>
<xs:element name="affiliation" type="xs:string" minOccurs="0"/>
<xs:element name="language" type="xs:string" minOccurs="0"/>
<xs:element name="pubModel" type="xs:string" minOccurs="0"/>
<xs:element name="pubType" type="xs:string" minOccurs="0"/>
<xs:element name="pubTypeList" type="tns:pubTypeList" minOccurs="0"/>
<xs:element name="brSummary" type="xs:string" minOccurs="0"/>
<xs:element name="bookOrReportDetails" type="tns:bookOrReportDetails" minOccurs="0"/>
<xs:element name="patentDetails" type="tns:patentDetailsInfo" minOccurs="0"/>
<xs:element name="grantsList" type="tns:grantsList" minOccurs="0"/>
<xs:element name="meshHeadingList" type="tns:meshHeadingsList" minOccurs="0"/>
<xs:element name="keywordList" type="tns:keywordList" minOccurs="0"/>
<xs:element name="chemicalList" type="tns:chemicalList" minOccurs="0"/>
<xs:element name="subsetList" type="tns:subSetList" minOccurs="0"/>
<xs:element name="fullTextUrlList" type="tns:fullTextUrlList" minOccurs="0"/>
<xs:element name="commentCorrectionList" type="tns:commentCorrectionList" minOccurs="0"/>
<xs:element name="extCommentList" type="tns:extCommentBean" minOccurs="0"/>
<xs:element name="isOpenAccess" type="xs:string" minOccurs="0"/>
<xs:element name="inEPMC" type="xs:string" minOccurs="0"/>
<xs:element name="inPMC" type="xs:string" minOccurs="0"/>
<xs:element name="citedByCount" type="xs:int" minOccurs="0"/>
<xs:element name="hasReferences" type="xs:string" minOccurs="0"/>
<xs:element name="hasTextMinedTerms" type="xs:string" minOccurs="0"/>
<xs:element name="hasDbCrossReferences" type="xs:string" minOccurs="0"/>
<xs:element name="dbCrossReferenceList" type="tns:crossReferencesList" minOccurs="0"/>
<xs:element name="hasSupplementary" type="xs:string" minOccurs="0"/>
<xs:element name="hasFullTextXML" type="xs:string" minOccurs="0"/>
<xs:element name="hasPDF" type="xs:string" minOccurs="0"/>
<xs:element name="hasBook" type="xs:string" minOccurs="0"/>
<xs:element name="bookid" type="xs:string" minOccurs="0"/>
<xs:element name="hasSuppl" type="xs:string" minOccurs="0"/>
<xs:element name="hasLabsLinks" type="xs:string" minOccurs="0"/>
<xs:element name="hasData" type="xs:string" minOccurs="0"/>
<xs:element name="license" type="xs:string" minOccurs="0"/>
<xs:element name="authMan" type="xs:string" minOccurs="0"/>
<xs:element name="epmcAuthMan" type="xs:string" minOccurs="0"/>
<xs:element name="nihAuthMan" type="xs:string" minOccurs="0"/>
<xs:element name="manuscriptId" type="xs:string" minOccurs="0"/>
<xs:element name="hasTMAccessionNumbers" type="xs:string" minOccurs="0"/>
<xs:element name="tmAccessionTypeList" type="tns:tmAccessionTypeList" minOccurs="0"/>
<xs:element name="dateOfCompletion" type="xs:string" minOccurs="0"/>
<xs:element name="dateOfCreation" type="xs:string" minOccurs="0"/>
<xs:element name="dateOfRevision" type="xs:string" minOccurs="0"/>
<xs:element name="electronicPublicationDate" type="xs:string" minOccurs="0"/>
<xs:element name="firstPublicationDate" type="xs:string" minOccurs="0"/>
<xs:element name="embargoDate" type="xs:string" minOccurs="0"/>
<xs:element name="fullText" type="swaRef:swaRef" minOccurs="0"/>
<xs:element name="supplementaryFiles" type="swaRef:swaRef" minOccurs="0"/>
<xs:element name="luceneScore" type="xs:string" minOccurs="0"/>
<xs:element name="dateUpdated" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="request">
<xs:sequence>
<xs:element name="queryString" type="xs:string" minOccurs="0"/>
<xs:element name="internalQuery" type="xs:string" minOccurs="0"/>
<xs:element name="resultType" type="xs:string" minOccurs="0"/>
<xs:element name="profileType" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="tags" type="xs:string" minOccurs="0"/>
<xs:element name="obtainedBy" type="xs:string" minOccurs="0"/>
<xs:element name="fromDate" type="xs:string" minOccurs="0"/>
<xs:element name="page" type="xs:int" minOccurs="0"/>
<xs:element name="sectionLimit" type="xs:int" minOccurs="0"/>
<xs:element name="offSet" type="xs:int" minOccurs="0"/>
<xs:element name="cursorMark" type="xs:string" minOccurs="0"/>
<xs:element name="pageSize" type="xs:int" minOccurs="0"/>
<xs:element name="sort" type="xs:string" minOccurs="0"/>
<xs:element name="database" type="xs:string" minOccurs="0"/>
<xs:element name="semanticType" type="xs:string" minOccurs="0"/>
<xs:element name="synonym" type="xs:boolean" minOccurs="0"/>
<xs:element name="inlineImages" type="xs:boolean" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="providerId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authorsList">
<xs:sequence>
<xs:element name="author" type="tns:authors" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authors">
<xs:sequence>
<xs:element name="collectiveName" type="xs:string" minOccurs="0"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="initials" type="xs:string" minOccurs="0"/>
<xs:element name="authorId" type="tns:authorId" minOccurs="0"/>
<xs:element name="affiliation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authorId">
<xs:simpleContent>
<xs:extension base="xs:string">
<xs:attribute name="type" type="xs:string"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>

<xs:complexType name="investigatorList">
<xs:sequence>
<xs:element name="investigator" type="tns:authors" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authorIdsList">
<xs:sequence>
<xs:element name="authorId" type="tns:authorId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="journalInfo">
<xs:sequence>
<xs:element name="issue" type="xs:string" minOccurs="0"/>
<xs:element name="volume" type="xs:string" minOccurs="0"/>
<xs:element name="journalIssueId" type="xs:int" minOccurs="0"/>
<xs:element name="dateOfPublication" type="xs:string" minOccurs="0"/>
<xs:element name="monthOfPublication" type="xs:byte" minOccurs="0"/>
<xs:element name="yearOfPublication" type="xs:short" minOccurs="0"/>
<xs:element name="printPublicationDate" type="xs:string" minOccurs="0"/>
<xs:element name="journal" type="tns:journal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="journal">
<xs:sequence>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="ISOAbbreviation" type="xs:string" minOccurs="0"/>
<xs:element name="medlineAbbreviation" type="xs:string" minOccurs="0"/>
<xs:element name="NLMid" type="xs:string" minOccurs="0"/>
<xs:element name="ISSN" type="xs:string" minOccurs="0"/>
<xs:element name="ESSN" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pubTypeList">
<xs:sequence>
<xs:element name="pubType" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookOrReportDetails">
<xs:sequence>
<xs:element name="publisher" type="xs:string" minOccurs="0"/>
<xs:element name="dayOfPublication" type="xs:byte" minOccurs="0"/>
<xs:element name="monthOfPublication" type="xs:byte" minOccurs="0"/>
<xs:element name="yearOfPublication" type="xs:short" minOccurs="0"/>
<xs:element name="numberOfPages" type="xs:string" minOccurs="0"/>
<xs:element name="edition" type="xs:string" minOccurs="0"/>
<xs:element name="isbn10" type="xs:string" minOccurs="0"/>
<xs:element name="isbn13" type="xs:string" minOccurs="0"/>
<xs:element name="seriesName" type="xs:string" minOccurs="0"/>
<xs:element name="seriesIssn" type="xs:string" minOccurs="0"/>
<xs:element name="comprisingTitle" type="xs:string" minOccurs="0"/>
<xs:element name="comprisingTitleNonAscii" type="xs:string" minOccurs="0"/>
<xs:element name="extraInformation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="patentDetailsInfo">
<xs:sequence>
<xs:element name="countryCode" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="typeCode" type="xs:string" minOccurs="0"/>
<xs:element name="typeDescription" type="xs:string" minOccurs="0"/>
<xs:element name="classifierList" type="tns:patentClassifierList" minOccurs="0"/>
<xs:element name="application" type="tns:patentApplication" minOccurs="0"/>
<xs:element name="priorityList" type="tns:patentPriorityList" minOccurs="0"/>
<xs:element name="familyList" type="tns:patentFamilyList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="patentClassifierList">
<xs:sequence>
<xs:element name="classifier" type="tns:patentClassifierInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="patentClassifierInfo">
<xs:sequence>
<xs:element name="classification" type="xs:string" minOccurs="0"/>
<xs:element name="classificationType" type="xs:string" minOccurs="0"/>
<xs:element name="hyperlink" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="patentApplication">
<xs:sequence>
<xs:element name="applicationNumber" type="xs:string" minOccurs="0"/>
<xs:element name="applicationDate" type="xs:string" minOccurs="0"/>
<xs:element name="orderIn" type="xs:short" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="patentPriorityList">
<xs:sequence>
<xs:element name="priority" type="tns:patentPriorityData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="patentPriorityData">
<xs:sequence>
<xs:element name="priorityNumber" type="xs:string" minOccurs="0"/>
<xs:element name="priorityDate" type="xs:string" minOccurs="0"/>
<xs:element name="orderIn" type="xs:short" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="patentFamilyList">
<xs:sequence>
<xs:element name="family" type="tns:patentFamilyData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="patentFamilyData">
<xs:sequence>
<xs:element name="familyNumber" type="xs:string" minOccurs="0"/>
<xs:element name="orderIn" type="xs:short" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grantsList">
<xs:sequence>
<xs:element name="grant" type="tns:grantInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grantInfo">
<xs:sequence>
<xs:element name="grantId" type="xs:string" minOccurs="0"/>
<xs:element name="agency" type="xs:string" minOccurs="0"/>
<xs:element name="acronym" type="xs:string" minOccurs="0"/>
<xs:element name="orderIn" type="xs:short"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meshHeadingsList">
<xs:sequence>
<xs:element name="meshHeading" type="tns:meshHeadingInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meshHeadingInfo">
<xs:sequence>
<xs:element name="majorTopic_YN" type="xs:string" minOccurs="0"/>
<xs:element name="descriptorName" type="xs:string" minOccurs="0"/>
<xs:element name="meshQualifierList" type="tns:meshQualifierList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meshQualifierList">
<xs:sequence>
<xs:element name="meshQualifier" type="tns:meshQualifierInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meshQualifierInfo">
<xs:sequence>
<xs:element name="abbreviation" type="xs:string" minOccurs="0"/>
<xs:element name="qualifierName" type="xs:string" minOccurs="0"/>
<xs:element name="majorTopic_YN" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="keywordList">
<xs:sequence>
<xs:element name="keyword" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chemicalList">
<xs:sequence>
<xs:element name="chemical" type="tns:chemicalInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="chemicalInfo">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="registryNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subSetList">
<xs:sequence>
<xs:element name="subset" type="tns:subSet" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subSet">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fullTextUrlList">
<xs:sequence>
<xs:element name="fullTextUrl" type="tns:fullTextURLInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fullTextURLInfo">
<xs:sequence>
<xs:element name="availability" type="xs:string" minOccurs="0"/>
<xs:element name="availabilityCode" type="xs:string" minOccurs="0"/>
<xs:element name="documentStyle" type="xs:string" minOccurs="0"/>
<xs:element name="site" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commentCorrectionList">
<xs:sequence>
<xs:element name="commentCorrection" type="tns:commentCorrection" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="commentCorrection">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="reference" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="note" type="xs:string" minOccurs="0"/>
<xs:element name="orderIn" type="xs:short"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="extCommentBean">
<xs:sequence>
<xs:element name="extComment" type="tns:extComment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="extComment">
<xs:sequence>
<xs:element name="extCommentSource" type="xs:string" minOccurs="0"/>
<xs:element name="info1" type="xs:string" minOccurs="0"/>
<xs:element name="info2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crossReferencesList">
<xs:sequence>
<xs:element name="dbName" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tmAccessionTypeList">
<xs:sequence>
<xs:element name="accessionType" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="QueryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCitations">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="offSet" type="xs:int" minOccurs="0"/>
<xs:element name="pageSize" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCitationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseWrapper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="responseWrapper">
<xs:sequence>
<xs:element name="version" type="xs:string" minOccurs="0"/>
<xs:element name="hitCount" type="xs:int" minOccurs="0"/>
<xs:element name="nextCursorMark" type="xs:string" minOccurs="0"/>
<xs:element name="request" type="tns:request" minOccurs="0"/>
<xs:element name="profileList" type="tns:profileListBean" minOccurs="0"/>
<xs:element name="resultList" type="tns:resultList" minOccurs="0"/>
<xs:element name="dbCountList" type="tns:dbCountList" minOccurs="0"/>
<xs:element name="dbCrossReferenceList" type="tns:dbCrossReferenceList" minOccurs="0"/>
<xs:element name="citationList" type="tns:citationList" minOccurs="0"/>
<xs:element name="referenceList" type="tns:referencesList" minOccurs="0"/>
<xs:element name="semanticTypeCountList" type="tns:semanticTypeCounts" minOccurs="0"/>
<xs:element name="semanticTypeList" type="tns:minedTermsList" minOccurs="0"/>
<xs:element name="searchTermList" type="tns:searchTerms" minOccurs="0"/>
<xs:element name="linksCountList" type="tns:labsProviderCountList" minOccurs="0"/>
<xs:element name="providers" type="tns:labsProviders" minOccurs="0"/>
<xs:element name="dataLinkList" type="ns1:dataLinks" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profileListBean">
<xs:sequence>
<xs:element name="source" type="tns:profile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="pubType" type="tns:profile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="subset" type="tns:profile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profile">
<xs:sequence/>
<xs:attribute name="name" type="xs:string"/>
<xs:attribute name="count" type="xs:int" use="required"/>
</xs:complexType>

<xs:complexType name="resultList">
<xs:sequence>
<xs:element name="result" type="tns:result" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dbCountList">
<xs:sequence>
<xs:element name="db" type="tns:dbCounts" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dbCounts">
<xs:sequence>
<xs:element name="dbName" type="xs:string" minOccurs="0"/>
<xs:element name="count" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dbCrossReferenceList">
<xs:sequence>
<xs:element name="dbCrossReference" type="tns:dbCrossReference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dbCrossReference">
<xs:sequence>
<xs:element name="dbName" type="xs:string" minOccurs="0"/>
<xs:element name="dbCount" type="xs:int"/>
<xs:element name="dbCrossReferenceInfo" type="tns:dbCrossReferenceInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dbCrossReferenceInfo">
<xs:sequence>
<xs:element name="info1" type="xs:string" minOccurs="0"/>
<xs:element name="info2" type="xs:string" minOccurs="0"/>
<xs:element name="info3" type="xs:string" minOccurs="0"/>
<xs:element name="info4" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="citationList">
<xs:sequence>
<xs:element name="citation" type="tns:CitationData" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CitationData">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="citationType" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="authorString" type="xs:string" minOccurs="0"/>
<xs:element name="journalAbbreviation" type="xs:string" minOccurs="0"/>
<xs:element name="pubYear" type="xs:int"/>
<xs:element name="volume" type="xs:string" minOccurs="0"/>
<xs:element name="ISSN" type="xs:string" minOccurs="0"/>
<xs:element name="issue" type="xs:string" minOccurs="0"/>
<xs:element name="pageInfo" type="xs:string" minOccurs="0"/>
<xs:element name="citedByCount" type="xs:int"/>
<xs:element name="text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="referencesList">
<xs:sequence>
<xs:element name="reference" type="tns:referenceInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="referenceInfo">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="citationType" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="authorString" type="xs:string" minOccurs="0"/>
<xs:element name="journalAbbreviation" type="xs:string" minOccurs="0"/>
<xs:element name="issue" type="xs:string" minOccurs="0"/>
<xs:element name="pubYear" type="xs:int"/>
<xs:element name="volume" type="xs:string" minOccurs="0"/>
<xs:element name="ISSN" type="xs:string" minOccurs="0"/>
<xs:element name="ESSN" type="xs:string" minOccurs="0"/>
<xs:element name="ISBN" type="xs:string" minOccurs="0"/>
<xs:element name="pageInfo" type="xs:string" minOccurs="0"/>
<xs:element name="publicationTitle" type="xs:string" minOccurs="0"/>
<xs:element name="publisherLoc" type="xs:string" minOccurs="0"/>
<xs:element name="publisherName" type="xs:string" minOccurs="0"/>
<xs:element name="seriesName" type="xs:string" minOccurs="0"/>
<xs:element name="edition" type="xs:string" minOccurs="0"/>
<xs:element name="editors" type="xs:string" minOccurs="0"/>
<xs:element name="doi" type="xs:string" minOccurs="0"/>
<xs:element name="unstructuredInformation" type="xs:string" minOccurs="0"/>
<xs:element name="externalLink" type="xs:string" minOccurs="0"/>
<xs:element name="comments" type="xs:string" minOccurs="0"/>
<xs:element name="citedOrder" type="xs:int"/>
<xs:element name="match" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="semanticTypeCounts">
<xs:sequence>
<xs:element name="semanticType" type="tns:semanticCounts" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="semanticCounts">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="count" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="minedTermsList">
<xs:sequence>
<xs:element name="semanticType" type="tns:minedTerms" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="minedTerms">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="total" type="xs:int"/>
<xs:element name="tmSummary" type="tns:minedSummary" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="minedSummary">
<xs:sequence>
<xs:element name="term" type="xs:string" minOccurs="0"/>
<xs:element name="count" type="xs:int"/>
<xs:element name="altNameList" type="tns:minedAltName" minOccurs="0"/>
<xs:element name="dbName" type="xs:string" minOccurs="0"/>
<xs:element name="dbIdList" type="tns:minedDbIDs" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="minedAltName">
<xs:sequence>
<xs:element name="altName" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="minedDbIDs">
<xs:sequence>
<xs:element name="dbId" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchTerms">
<xs:sequence>
<xs:element name="searchTerms" type="tns:SearchTerm" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SearchTerm">
<xs:sequence>
<xs:element name="term" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="labsProviderCountList">
<xs:sequence>
<xs:element name="provider" type="tns:labsProviderCounts" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="labsProviderCounts">
<xs:sequence>
<xs:element name="providerName" type="xs:string" minOccurs="0"/>
<xs:element name="linksCount" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="labsProviders">
<xs:sequence>
<xs:element name="provider" type="tns:labsProvider" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="labsProvider">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="frontTab" type="xs:string" minOccurs="0"/>
<xs:element name="link" type="tns:labsLinks" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="labsLinks">
<xs:sequence>
<xs:element name="imgUrl" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTextMinedTerms">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="semanticType" type="xs:string" minOccurs="0"/>
<xs:element name="offSet" type="xs:int" minOccurs="0"/>
<xs:element name="pageSize" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTextMinedTermsResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseWrapper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profilePublications">
<xs:sequence>
<xs:element name="queryString" type="xs:string" minOccurs="0"/>
<xs:element name="profileType" type="xs:string" minOccurs="0"/>
<xs:element name="synonym" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profilePublicationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseWrapper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataLinks">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
<xs:element name="obtainedBy" type="xs:string" minOccurs="0"/>
<xs:element name="fromDate" type="xs:string" minOccurs="0"/>
<xs:element name="tags" type="xs:string" minOccurs="0"/>
<xs:element name="sectionLimit" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataLinksResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseWrapper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookXML">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBookXMLResponse">
<xs:sequence>
<xs:element name="return" type="tns:result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listSearchFields">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listSearchFieldsResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseWrapper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReferences">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="offSet" type="xs:int" minOccurs="0"/>
<xs:element name="pageSize" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReferencesResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseWrapper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLabsLinks">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="providerId" type="xs:string" minOccurs="0"/>
<xs:element name="offSet" type="xs:int" minOccurs="0"/>
<xs:element name="pageSize" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLabsLinksResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseWrapper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchPublications">
<xs:sequence>
<xs:element name="queryString" type="xs:string" minOccurs="0"/>
<xs:element name="resultType" type="xs:string" minOccurs="0"/>
<xs:element name="cursorMark" type="xs:string" minOccurs="0"/>
<xs:element name="pageSize" type="xs:string" minOccurs="0"/>
<xs:element name="sort" type="xs:string" minOccurs="0"/>
<xs:element name="synonym" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchPublicationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseWrapper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFulltextXML">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFulltextXMLResponse">
<xs:sequence>
<xs:element name="return" type="tns:result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatabaseLinks">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="source" type="xs:string" minOccurs="0"/>
<xs:element name="database" type="xs:string" minOccurs="0"/>
<xs:element name="offSet" type="xs:int" minOccurs="0"/>
<xs:element name="pageSize" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatabaseLinksResponse">
<xs:sequence>
<xs:element name="return" type="tns:responseWrapper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>