example/src/main/wsdl/europepmc/schema.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><xs:schema xmlns:tns="https://www.europepmc.org/data" xmlns:slx="http://www.scholix.org" xmlns:epmc="https://www.europepmc.org/data" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="https://www.europepmc.org/data">

<xs:import namespace="http://www.scholix.org" schemaLocation="https://www.ebi.ac.uk:443/europepmc/webservices/soap?xsd=2"/>

<xs:element name="Frequency" type="xs:int"/>

<xs:element name="ImageURL" type="xs:string"/>

<xs:complexType name="dataLinks">
<xs:sequence>
<xs:element name="Category" type="tns:Category" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Category">
<xs:sequence>
<xs:element name="Name" type="xs:string" minOccurs="0"/>
<xs:element name="NameLong" type="xs:string" minOccurs="0"/>
<xs:element name="Tags" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="CategoryLinkCount" type="xs:int" minOccurs="0"/>
<xs:element name="Section" type="tns:Section" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Section">
<xs:sequence>
<xs:element name="ObtainedBy" type="xs:string" minOccurs="0"/>
<xs:element name="Tags" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="Tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="SectionLinkCount" type="xs:int" minOccurs="0"/>
<xs:element name="CollectionURL" type="xs:string" minOccurs="0"/>
<xs:element name="Linklist" type="slx:Linklist" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="objectPublisher">
<xs:sequence>
<xs:element ref="slx:Name" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>