example/src/main/wsdl/europepmc/soap_3.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:tns="http://webservice.cdb.ebi.ac.uk/" xmlns:ns1="https://www.europepmc.org/data" xmlns:swaRef="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservice.cdb.ebi.ac.uk/" version="1.0">
  <xs:import schemaLocation="https://www.ebi.ac.uk:443/europepmc/webservices/soap?xsd=1" namespace="https://www.europepmc.org/data"/>
  <xs:import schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd" namespace="http://ws-i.org/profiles/basic/1.1/xsd"/>
  <xs:element name="QueryException" type="tns:QueryException"/>
  <xs:element name="getBookXML" type="tns:getBookXML"/>
  <xs:element name="getBookXMLResponse" type="tns:getBookXMLResponse"/>
  <xs:element name="getCitations" type="tns:getCitations"/>
  <xs:element name="getCitationsResponse" type="tns:getCitationsResponse"/>
  <xs:element name="getDataLinks" type="tns:getDataLinks"/>
  <xs:element name="getDataLinksResponse" type="tns:getDataLinksResponse"/>
  <xs:element name="getDatabaseLinks" type="tns:getDatabaseLinks"/>
  <xs:element name="getDatabaseLinksResponse" type="tns:getDatabaseLinksResponse"/>
  <xs:element name="getFulltextXML" type="tns:getFulltextXML"/>
  <xs:element name="getFulltextXMLResponse" type="tns:getFulltextXMLResponse"/>
  <xs:element name="getLabsLinks" type="tns:getLabsLinks"/>
  <xs:element name="getLabsLinksResponse" type="tns:getLabsLinksResponse"/>
  <xs:element name="getReferences" type="tns:getReferences"/>
  <xs:element name="getReferencesResponse" type="tns:getReferencesResponse"/>
  <xs:element name="getSupplementaryFiles" type="tns:getSupplementaryFiles"/>
  <xs:element name="getSupplementaryFilesResponse" type="tns:getSupplementaryFilesResponse"/>
  <xs:element name="getTextMinedTerms" type="tns:getTextMinedTerms"/>
  <xs:element name="getTextMinedTermsResponse" type="tns:getTextMinedTermsResponse"/>
  <xs:element name="listSearchFields" type="tns:listSearchFields"/>
  <xs:element name="listSearchFieldsResponse" type="tns:listSearchFieldsResponse"/>
  <xs:element name="profilePublications" type="tns:profilePublications"/>
  <xs:element name="profilePublicationsResponse" type="tns:profilePublicationsResponse"/>
  <xs:element name="searchPublications" type="tns:searchPublications"/>
  <xs:element name="searchPublicationsResponse" type="tns:searchPublicationsResponse"/>
  <xs:complexType name="getSupplementaryFiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="inlineImages" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSupplementaryFilesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="result">
    <xs:sequence>
      <xs:element minOccurs="0" name="mongoId" type="xs:anyType"/>
      <xs:element minOccurs="0" name="request" type="tns:request"/>
      <xs:element minOccurs="0" name="citationId" type="xs:int"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="pmid" type="xs:string"/>
      <xs:element minOccurs="0" name="pmcid" type="xs:string"/>
      <xs:element minOccurs="0" name="doi" type="xs:string"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="authorString" type="xs:string"/>
      <xs:element minOccurs="0" name="authorList" type="tns:authorsList"/>
      <xs:element minOccurs="0" name="investigatorList" type="tns:investigatorList"/>
      <xs:element minOccurs="0" name="authorIdList" type="tns:authorIdsList"/>
      <xs:element minOccurs="0" name="journalInfo" type="tns:journalInfo"/>
      <xs:element minOccurs="0" name="journalTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="issue" type="xs:string"/>
      <xs:element minOccurs="0" name="journalVolume" type="xs:string"/>
      <xs:element minOccurs="0" name="pubYear" type="xs:string"/>
      <xs:element minOccurs="0" name="journalIssn" type="xs:string"/>
      <xs:element minOccurs="0" name="pageInfo" type="xs:string"/>
      <xs:element minOccurs="0" name="abstractText" type="xs:string"/>
      <xs:element minOccurs="0" name="affiliation" type="xs:string"/>
      <xs:element minOccurs="0" name="language" type="xs:string"/>
      <xs:element minOccurs="0" name="pubModel" type="xs:string"/>
      <xs:element minOccurs="0" name="pubType" type="xs:string"/>
      <xs:element minOccurs="0" name="pubTypeList" type="tns:pubTypeList"/>
      <xs:element minOccurs="0" name="brSummary" type="xs:string"/>
      <xs:element minOccurs="0" name="bookOrReportDetails" type="tns:bookOrReportDetails"/>
      <xs:element minOccurs="0" name="patentDetails" type="tns:patentDetailsInfo"/>
      <xs:element minOccurs="0" name="grantsList" type="tns:grantsList"/>
      <xs:element minOccurs="0" name="meshHeadingList" type="tns:meshHeadingsList"/>
      <xs:element minOccurs="0" name="keywordList" type="tns:keywordList"/>
      <xs:element minOccurs="0" name="chemicalList" type="tns:chemicalList"/>
      <xs:element minOccurs="0" name="subsetList" type="tns:subSetList"/>
      <xs:element minOccurs="0" name="fullTextUrlList" type="tns:fullTextUrlList"/>
      <xs:element minOccurs="0" name="commentCorrectionList" type="tns:commentCorrectionList"/>
      <xs:element minOccurs="0" name="extCommentList" type="tns:extCommentBean"/>
      <xs:element minOccurs="0" name="isOpenAccess" type="xs:string"/>
      <xs:element minOccurs="0" name="inEPMC" type="xs:string"/>
      <xs:element minOccurs="0" name="inPMC" type="xs:string"/>
      <xs:element minOccurs="0" name="citedByCount" type="xs:int"/>
      <xs:element minOccurs="0" name="hasReferences" type="xs:string"/>
      <xs:element minOccurs="0" name="hasTextMinedTerms" type="xs:string"/>
      <xs:element minOccurs="0" name="hasDbCrossReferences" type="xs:string"/>
      <xs:element minOccurs="0" name="dbCrossReferenceList" type="tns:crossReferencesList"/>
      <xs:element minOccurs="0" name="hasSupplementary" type="xs:string"/>
      <xs:element minOccurs="0" name="hasFullTextXML" type="xs:string"/>
      <xs:element minOccurs="0" name="hasPDF" type="xs:string"/>
      <xs:element minOccurs="0" name="hasBook" type="xs:string"/>
      <xs:element minOccurs="0" name="bookid" type="xs:string"/>
      <xs:element minOccurs="0" name="hasSuppl" type="xs:string"/>
      <xs:element minOccurs="0" name="hasLabsLinks" type="xs:string"/>
      <xs:element minOccurs="0" name="hasData" type="xs:string"/>
      <xs:element minOccurs="0" name="license" type="xs:string"/>
      <xs:element minOccurs="0" name="authMan" type="xs:string"/>
      <xs:element minOccurs="0" name="epmcAuthMan" type="xs:string"/>
      <xs:element minOccurs="0" name="nihAuthMan" type="xs:string"/>
      <xs:element minOccurs="0" name="manuscriptId" type="xs:string"/>
      <xs:element minOccurs="0" name="hasTMAccessionNumbers" type="xs:string"/>
      <xs:element minOccurs="0" name="tmAccessionTypeList" type="tns:tmAccessionTypeList"/>
      <xs:element minOccurs="0" name="dateOfCompletion" type="xs:string"/>
      <xs:element minOccurs="0" name="dateOfCreation" type="xs:string"/>
      <xs:element minOccurs="0" name="dateOfRevision" type="xs:string"/>
      <xs:element minOccurs="0" name="electronicPublicationDate" type="xs:string"/>
      <xs:element minOccurs="0" name="firstPublicationDate" type="xs:string"/>
      <xs:element minOccurs="0" name="embargoDate" type="xs:string"/>
      <xs:element minOccurs="0" name="fullText" type="swaRef:swaRef"/>
      <xs:element minOccurs="0" name="supplementaryFiles" type="swaRef:swaRef"/>
      <xs:element minOccurs="0" name="luceneScore" type="xs:string"/>
      <xs:element minOccurs="0" name="dateUpdated" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="request">
    <xs:sequence>
      <xs:element minOccurs="0" name="queryString" type="xs:string"/>
      <xs:element minOccurs="0" name="internalQuery" type="xs:string"/>
      <xs:element minOccurs="0" name="resultType" type="xs:string"/>
      <xs:element minOccurs="0" name="profileType" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="category" type="xs:string"/>
      <xs:element minOccurs="0" name="tags" type="xs:string"/>
      <xs:element minOccurs="0" name="obtainedBy" type="xs:string"/>
      <xs:element minOccurs="0" name="fromDate" type="xs:string"/>
      <xs:element minOccurs="0" name="page" type="xs:int"/>
      <xs:element minOccurs="0" name="sectionLimit" type="xs:int"/>
      <xs:element minOccurs="0" name="offSet" type="xs:int"/>
      <xs:element minOccurs="0" name="cursorMark" type="xs:string"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
      <xs:element minOccurs="0" name="sort" type="xs:string"/>
      <xs:element minOccurs="0" name="database" type="xs:string"/>
      <xs:element minOccurs="0" name="semanticType" type="xs:string"/>
      <xs:element minOccurs="0" name="synonym" type="xs:boolean"/>
      <xs:element minOccurs="0" name="inlineImages" type="xs:boolean"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="providerId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorsList">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" maxOccurs="unbounded" type="tns:authors" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authors">
    <xs:sequence>
      <xs:element minOccurs="0" name="collectiveName" type="xs:string"/>
      <xs:element minOccurs="0" name="fullName" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="initials" type="xs:string"/>
      <xs:element minOccurs="0" name="authorId" type="tns:authorId"/>
      <xs:element minOccurs="0" name="affiliation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorId">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="investigatorList">
    <xs:sequence>
      <xs:element minOccurs="0" name="investigator" maxOccurs="unbounded" type="tns:authors" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authorIdsList">
    <xs:sequence>
      <xs:element minOccurs="0" name="authorId" maxOccurs="unbounded" type="tns:authorId" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="journalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="issue" type="xs:string"/>
      <xs:element minOccurs="0" name="volume" type="xs:string"/>
      <xs:element minOccurs="0" name="journalIssueId" type="xs:int"/>
      <xs:element minOccurs="0" name="dateOfPublication" type="xs:string"/>
      <xs:element minOccurs="0" name="monthOfPublication" type="xs:byte"/>
      <xs:element minOccurs="0" name="yearOfPublication" type="xs:short"/>
      <xs:element minOccurs="0" name="printPublicationDate" type="xs:string"/>
      <xs:element minOccurs="0" name="journal" type="tns:journal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="journal">
    <xs:sequence>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="ISOAbbreviation" type="xs:string"/>
      <xs:element minOccurs="0" name="medlineAbbreviation" type="xs:string"/>
      <xs:element minOccurs="0" name="NLMid" type="xs:string"/>
      <xs:element minOccurs="0" name="ISSN" type="xs:string"/>
      <xs:element minOccurs="0" name="ESSN" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pubTypeList">
    <xs:sequence>
      <xs:element minOccurs="0" name="pubType" maxOccurs="unbounded" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookOrReportDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="publisher" type="xs:string"/>
      <xs:element minOccurs="0" name="dayOfPublication" type="xs:byte"/>
      <xs:element minOccurs="0" name="monthOfPublication" type="xs:byte"/>
      <xs:element minOccurs="0" name="yearOfPublication" type="xs:short"/>
      <xs:element minOccurs="0" name="numberOfPages" type="xs:string"/>
      <xs:element minOccurs="0" name="edition" type="xs:string"/>
      <xs:element minOccurs="0" name="isbn10" type="xs:string"/>
      <xs:element minOccurs="0" name="isbn13" type="xs:string"/>
      <xs:element minOccurs="0" name="seriesName" type="xs:string"/>
      <xs:element minOccurs="0" name="seriesIssn" type="xs:string"/>
      <xs:element minOccurs="0" name="comprisingTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="comprisingTitleNonAscii" type="xs:string"/>
      <xs:element minOccurs="0" name="extraInformation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patentDetailsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="typeCode" type="xs:string"/>
      <xs:element minOccurs="0" name="typeDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="classifierList" type="tns:patentClassifierList"/>
      <xs:element minOccurs="0" name="application" type="tns:patentApplication"/>
      <xs:element minOccurs="0" name="priorityList" type="tns:patentPriorityList"/>
      <xs:element minOccurs="0" name="familyList" type="tns:patentFamilyList"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patentClassifierList">
    <xs:sequence>
      <xs:element minOccurs="0" name="classifier" maxOccurs="unbounded" type="tns:patentClassifierInfo" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patentClassifierInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="classification" type="xs:string"/>
      <xs:element minOccurs="0" name="classificationType" type="xs:string"/>
      <xs:element minOccurs="0" name="hyperlink" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patentApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="applicationNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="applicationDate" type="xs:string"/>
      <xs:element minOccurs="0" name="orderIn" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patentPriorityList">
    <xs:sequence>
      <xs:element minOccurs="0" name="priority" maxOccurs="unbounded" type="tns:patentPriorityData" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patentPriorityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="priorityNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="priorityDate" type="xs:string"/>
      <xs:element minOccurs="0" name="orderIn" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patentFamilyList">
    <xs:sequence>
      <xs:element minOccurs="0" name="family" maxOccurs="unbounded" type="tns:patentFamilyData" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="patentFamilyData">
    <xs:sequence>
      <xs:element minOccurs="0" name="familyNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="orderIn" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grantsList">
    <xs:sequence>
      <xs:element minOccurs="0" name="grant" maxOccurs="unbounded" type="tns:grantInfo" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grantInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="grantId" type="xs:string"/>
      <xs:element minOccurs="0" name="agency" type="xs:string"/>
      <xs:element minOccurs="0" name="acronym" type="xs:string"/>
      <xs:element name="orderIn" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="meshHeadingsList">
    <xs:sequence>
      <xs:element minOccurs="0" name="meshHeading" maxOccurs="unbounded" type="tns:meshHeadingInfo" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="meshHeadingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="majorTopic_YN" type="xs:string"/>
      <xs:element minOccurs="0" name="descriptorName" type="xs:string"/>
      <xs:element minOccurs="0" name="meshQualifierList" type="tns:meshQualifierList"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="meshQualifierList">
    <xs:sequence>
      <xs:element minOccurs="0" name="meshQualifier" maxOccurs="unbounded" type="tns:meshQualifierInfo" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="meshQualifierInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="abbreviation" type="xs:string"/>
      <xs:element minOccurs="0" name="qualifierName" type="xs:string"/>
      <xs:element minOccurs="0" name="majorTopic_YN" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="keywordList">
    <xs:sequence>
      <xs:element minOccurs="0" name="keyword" maxOccurs="unbounded" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chemicalList">
    <xs:sequence>
      <xs:element minOccurs="0" name="chemical" maxOccurs="unbounded" type="tns:chemicalInfo" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chemicalInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="registryNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subSetList">
    <xs:sequence>
      <xs:element minOccurs="0" name="subset" maxOccurs="unbounded" type="tns:subSet" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fullTextUrlList">
    <xs:sequence>
      <xs:element minOccurs="0" name="fullTextUrl" maxOccurs="unbounded" type="tns:fullTextURLInfo" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fullTextURLInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="availability" type="xs:string"/>
      <xs:element minOccurs="0" name="availabilityCode" type="xs:string"/>
      <xs:element minOccurs="0" name="documentStyle" type="xs:string"/>
      <xs:element minOccurs="0" name="site" type="xs:string"/>
      <xs:element minOccurs="0" name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="commentCorrectionList">
    <xs:sequence>
      <xs:element minOccurs="0" name="commentCorrection" maxOccurs="unbounded" type="tns:commentCorrection" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="commentCorrection">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="reference" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
      <xs:element minOccurs="0" name="note" type="xs:string"/>
      <xs:element name="orderIn" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extCommentBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="extComment" maxOccurs="unbounded" type="tns:extComment" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="extCommentSource" type="xs:string"/>
      <xs:element minOccurs="0" name="info1" type="xs:string"/>
      <xs:element minOccurs="0" name="info2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="crossReferencesList">
    <xs:sequence>
      <xs:element minOccurs="0" name="dbName" maxOccurs="unbounded" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tmAccessionTypeList">
    <xs:sequence>
      <xs:element minOccurs="0" name="accessionType" maxOccurs="unbounded" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QueryException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCitations">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="offSet" type="xs:int"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCitationsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseWrapper"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="version" type="xs:string"/>
      <xs:element minOccurs="0" name="hitCount" type="xs:int"/>
      <xs:element minOccurs="0" name="nextCursorMark" type="xs:string"/>
      <xs:element minOccurs="0" name="request" type="tns:request"/>
      <xs:element minOccurs="0" name="profileList" type="tns:profileListBean"/>
      <xs:element minOccurs="0" name="resultList" type="tns:resultList"/>
      <xs:element minOccurs="0" name="dbCountList" type="tns:dbCountList"/>
      <xs:element minOccurs="0" name="dbCrossReferenceList" type="tns:dbCrossReferenceList"/>
      <xs:element minOccurs="0" name="citationList" type="tns:citationList"/>
      <xs:element minOccurs="0" name="referenceList" type="tns:referencesList"/>
      <xs:element minOccurs="0" name="semanticTypeCountList" type="tns:semanticTypeCounts"/>
      <xs:element minOccurs="0" name="semanticTypeList" type="tns:minedTermsList"/>
      <xs:element minOccurs="0" name="searchTermList" type="tns:searchTerms"/>
      <xs:element minOccurs="0" name="linksCountList" type="tns:labsProviderCountList"/>
      <xs:element minOccurs="0" name="providers" type="tns:labsProviders"/>
      <xs:element minOccurs="0" name="dataLinkList" type="ns1:dataLinks"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profileListBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="source" maxOccurs="unbounded" type="tns:profile" nillable="true"/>
      <xs:element minOccurs="0" name="pubType" maxOccurs="unbounded" type="tns:profile" nillable="true"/>
      <xs:element minOccurs="0" name="subset" maxOccurs="unbounded" type="tns:profile" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profile">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute use="required" name="count" type="xs:int"/>
  </xs:complexType>
  <xs:complexType name="resultList">
    <xs:sequence>
      <xs:element minOccurs="0" name="result" maxOccurs="unbounded" type="tns:result" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dbCountList">
    <xs:sequence>
      <xs:element minOccurs="0" name="db" maxOccurs="unbounded" type="tns:dbCounts" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dbCounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="dbName" type="xs:string"/>
      <xs:element minOccurs="0" name="count" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dbCrossReferenceList">
    <xs:sequence>
      <xs:element minOccurs="0" name="dbCrossReference" maxOccurs="unbounded" type="tns:dbCrossReference" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dbCrossReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="dbName" type="xs:string"/>
      <xs:element name="dbCount" type="xs:int"/>
      <xs:element minOccurs="0" name="dbCrossReferenceInfo" maxOccurs="unbounded" type="tns:dbCrossReferenceInfo" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dbCrossReferenceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="info1" type="xs:string"/>
      <xs:element minOccurs="0" name="info2" type="xs:string"/>
      <xs:element minOccurs="0" name="info3" type="xs:string"/>
      <xs:element minOccurs="0" name="info4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citationList">
    <xs:sequence>
      <xs:element minOccurs="0" name="citation" maxOccurs="unbounded" type="tns:CitationData" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CitationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="citationType" type="xs:string"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="authorString" type="xs:string"/>
      <xs:element minOccurs="0" name="journalAbbreviation" type="xs:string"/>
      <xs:element name="pubYear" type="xs:int"/>
      <xs:element minOccurs="0" name="volume" type="xs:string"/>
      <xs:element minOccurs="0" name="ISSN" type="xs:string"/>
      <xs:element minOccurs="0" name="issue" type="xs:string"/>
      <xs:element minOccurs="0" name="pageInfo" type="xs:string"/>
      <xs:element name="citedByCount" type="xs:int"/>
      <xs:element minOccurs="0" name="text" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="referencesList">
    <xs:sequence>
      <xs:element minOccurs="0" name="reference" maxOccurs="unbounded" type="tns:referenceInfo" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="referenceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="citationType" type="xs:string"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="authorString" type="xs:string"/>
      <xs:element minOccurs="0" name="journalAbbreviation" type="xs:string"/>
      <xs:element minOccurs="0" name="issue" type="xs:string"/>
      <xs:element name="pubYear" type="xs:int"/>
      <xs:element minOccurs="0" name="volume" type="xs:string"/>
      <xs:element minOccurs="0" name="ISSN" type="xs:string"/>
      <xs:element minOccurs="0" name="ESSN" type="xs:string"/>
      <xs:element minOccurs="0" name="ISBN" type="xs:string"/>
      <xs:element minOccurs="0" name="pageInfo" type="xs:string"/>
      <xs:element minOccurs="0" name="publicationTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="publisherLoc" type="xs:string"/>
      <xs:element minOccurs="0" name="publisherName" type="xs:string"/>
      <xs:element minOccurs="0" name="seriesName" type="xs:string"/>
      <xs:element minOccurs="0" name="edition" type="xs:string"/>
      <xs:element minOccurs="0" name="editors" type="xs:string"/>
      <xs:element minOccurs="0" name="doi" type="xs:string"/>
      <xs:element minOccurs="0" name="unstructuredInformation" type="xs:string"/>
      <xs:element minOccurs="0" name="externalLink" type="xs:string"/>
      <xs:element minOccurs="0" name="comments" type="xs:string"/>
      <xs:element name="citedOrder" type="xs:int"/>
      <xs:element minOccurs="0" name="match" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="semanticTypeCounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="semanticType" maxOccurs="unbounded" type="tns:semanticCounts" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="semanticCounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="count" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="minedTermsList">
    <xs:sequence>
      <xs:element minOccurs="0" name="semanticType" maxOccurs="unbounded" type="tns:minedTerms" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="minedTerms">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element name="total" type="xs:int"/>
      <xs:element minOccurs="0" name="tmSummary" maxOccurs="unbounded" type="tns:minedSummary" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="minedSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="term" type="xs:string"/>
      <xs:element name="count" type="xs:int"/>
      <xs:element minOccurs="0" name="altNameList" type="tns:minedAltName"/>
      <xs:element minOccurs="0" name="dbName" type="xs:string"/>
      <xs:element minOccurs="0" name="dbIdList" type="tns:minedDbIDs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="minedAltName">
    <xs:sequence>
      <xs:element minOccurs="0" name="altName" maxOccurs="unbounded" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="minedDbIDs">
    <xs:sequence>
      <xs:element minOccurs="0" name="dbId" maxOccurs="unbounded" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchTerms">
    <xs:sequence>
      <xs:element minOccurs="0" name="searchTerms" maxOccurs="unbounded" type="tns:SearchTerm" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchTerm">
    <xs:sequence>
      <xs:element minOccurs="0" name="term" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="labsProviderCountList">
    <xs:sequence>
      <xs:element minOccurs="0" name="provider" maxOccurs="unbounded" type="tns:labsProviderCounts" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="labsProviderCounts">
    <xs:sequence>
      <xs:element minOccurs="0" name="providerName" type="xs:string"/>
      <xs:element minOccurs="0" name="linksCount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="labsProviders">
    <xs:sequence>
      <xs:element minOccurs="0" name="provider" maxOccurs="unbounded" type="tns:labsProvider" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="labsProvider">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="frontTab" type="xs:string"/>
      <xs:element minOccurs="0" name="link" maxOccurs="unbounded" type="tns:labsLinks" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="labsLinks">
    <xs:sequence>
      <xs:element minOccurs="0" name="imgUrl" type="xs:string"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTextMinedTerms">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="semanticType" type="xs:string"/>
      <xs:element minOccurs="0" name="offSet" type="xs:int"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTextMinedTermsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseWrapper"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profilePublications">
    <xs:sequence>
      <xs:element minOccurs="0" name="queryString" type="xs:string"/>
      <xs:element minOccurs="0" name="profileType" type="xs:string"/>
      <xs:element minOccurs="0" name="synonym" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profilePublicationsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseWrapper"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDataLinks">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="category" type="xs:string"/>
      <xs:element minOccurs="0" name="obtainedBy" type="xs:string"/>
      <xs:element minOccurs="0" name="fromDate" type="xs:string"/>
      <xs:element minOccurs="0" name="tags" type="xs:string"/>
      <xs:element minOccurs="0" name="sectionLimit" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDataLinksResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseWrapper"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBookXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBookXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listSearchFields">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listSearchFieldsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseWrapper"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getReferences">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="offSet" type="xs:int"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getReferencesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseWrapper"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLabsLinks">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="providerId" type="xs:string"/>
      <xs:element minOccurs="0" name="offSet" type="xs:int"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLabsLinksResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseWrapper"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchPublications">
    <xs:sequence>
      <xs:element minOccurs="0" name="queryString" type="xs:string"/>
      <xs:element minOccurs="0" name="resultType" type="xs:string"/>
      <xs:element minOccurs="0" name="cursorMark" type="xs:string"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:string"/>
      <xs:element minOccurs="0" name="sort" type="xs:string"/>
      <xs:element minOccurs="0" name="synonym" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchPublicationsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseWrapper"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFulltextXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFulltextXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:result"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDatabaseLinks">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="source" type="xs:string"/>
      <xs:element minOccurs="0" name="database" type="xs:string"/>
      <xs:element minOccurs="0" name="offSet" type="xs:int"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDatabaseLinksResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:responseWrapper"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
